/* CENTER - Title under navbar */
.nav-center {
  display: flex; /* enable flexbox */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 500px;
  text-align: center; /* optional, good for multiple lines */
  background: #438a6d;
  font-size: 42px;
  letter-spacing: 6px;
  font-weight: 700;
  color: #111;
}

/* TITLES */
.section-title {
  padding: 50px 0;
  text-align: center;
  background: #fff;
}

.section-title h2 {
  font-size: 42px;
  letter-spacing: 6px;
  font-weight: 700;
  color: #111;
}

/* SLIDER */
.fade-slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.fade-slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 18s infinite;
}

/* Image timing */
.fade-slider img:nth-child(1) {
  animation-delay: 0s;
}

.fade-slider img:nth-child(2) {
  animation-delay: 6s;
}

.fade-slider img:nth-child(3) {
  animation-delay: 12s;
}

/* FADE KEYFRAMES */
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  } /* stay */
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* GENDER LINKS */
.gender-links {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 160px;
  background: #fff;
}

.gender-link {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid transparent;
}

.gender-link:hover {
  border-bottom: 3px solid #000;
}

/* BEST SALONS */
.best-salons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 80px;
  background: #fff;
}

.best-salon-card {
  text-align: center;
  text-decoration: none;
  color: #111;
}

.best-salon-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s ease;
}

.best-salon-card:hover img {
  filter: grayscale(0%);
  transform: scale(1.03);
}

.best-salon-card h3 {
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.best-salon-card p {
  font-size: 13px;
  color: #777;
}
